<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="404.css">
    <link rel="icon" href="Images/cricket-png-file-indian-cricket-players-11563102090eeledpcghh.png">
</head>
<body>
    <div class="cont">
        <h1>404 Not Found</h1>
        <p>{{error}}</p>
        <p>Go <a href = "{{back}}">Back</a></p>
    </div>
</body>
</html>