<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>
    <link rel="stylesheet" href="login.css">
    <link rel="icon" href="Images/Log.jpg">
</head>
<body>
    <form action="/getd" method="get"><h1>Log In</h1>
        <label for ="name"><i>Name:</i></label>
        <input type="text" id="name" name="name" placeholder="Enter Your Name">
        <label for ="usn"><i>USN/Id:</i></label>
        <input type="text" id="usn" name="usn" placeholder="Enter Your USN">
        <p>Want to Create Account? <a href="/signup">SignUp</a></p>
        <button>Submit</button>`
     </form>   
</body>
</html>