<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proctees</title>
    <link rel="stylesheet" href="record.css">
    <link rel="icon" href="Images/Log.jpg">
</head>
<body>
    <div class="nav">
        <b>Proctor Management System</b>
        <i><a href="/getd?name={{name}}&usn={{usn}}"><- Go to Dashboard</a></i>
        <em><a href="/logout">Log Out</a></em>
    </div>
    <div class="acad">
<h1>Proctees</h1>
<table border="2px">
    <tr>
        <th><em>S.No</em></th>
        <th><em>Name</em></th>
        <th><em>Email</em></th>
        <th><em>USN</em></th>
        <th><em>Record</em></th>
    </tr>

</table>
    </div>
    <script src="record2.js"></script>
</body>
</html>