<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Proctees</title>
    <link rel="stylesheet" href="proctees.css">
    <link rel="icon" href="Images/Log.jpg">
</head>
<body>
    <div class="nav">
        <b>Proctor Management System</b>
        <i><- Go to Dashboard</i>
        <em>Log Out</em>
    </div>
    <div class="proc">
        <table border="2px">
            <tr>
                <th><em>Student Name</em></th>
                <th><em>USN</em></th>
                <th><em>Email</em></th>
                <th><em>Profile</em></th>
                <th><em>Academic Performance</em></th>
            </tr>
            <tr>
        <td>Priyam</td>
        <td>73</td>
        <td>priyam.is18@bmsce.ac.in</td>
        <td><button>Profile</button></td>
        <td><button>Academic Performance</button></td>
            </tr>
        </table>
    </div>
</body>
</html>