<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{status}} Profile</title>
    <link rel="stylesheet" href="profile.css">
    <link rel="icon" href="Images/Log.jpg">
</head>
<body>
    <div class="nav">
    <b>Proctor Management System</b>
    <i><a href="/getd?name={{name}}&usn={{usn}}"><- Go to Dashboard</a></i>
    <em><a href="/logout">Log Out</a></em>
    </div>
    <div class="prof">
        <h1>Edit Your Profile</h1>
        <div class="box">
            <b id="personal">Personal</b>
            <b id="father">Father</b>
            <b id="mother">Mother</b>
        </div>
        <div class="form">
        </div>
    </div>
    <script src="form.js"></script>
</body>
</html>