<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="signup.css">
    <link rel="icon" href="Images/Log.jpg">
</head>
<body>
    <div class="cont">
        <h1>Select Your Profession</h1>
        <select name="option" id="option">
            <option value="student">Student</option>
            <option value="proctor">Proctor</option>
        </select>
    </div>
    <div class="form">
    </div>
    <script src="form1.js"></script>
</body>
</html>